.dx-treelist-content {
    font-size: 17px;
    font-weight: 500;
    font-family: "PT Sans Narrow", sans-serif;
}

.dx-datagrid-headers {
    background: rgba(169, 169, 169, 0.37);
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 600;
    color: dimgray;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td,
.dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
  vertical-align: middle;
}

.prod_price {
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.dx-field-item-label-location-left {
    font-weight: 600;
}

.prod_grid {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    height: 100vh;
    /* max-width: 800px; */
}

.full_name {
    font-size: 30px;
    font-weight: 700;
}

.catalog {
    display: flex;
    flex-direction: row;
}

.currentNode {
    font-weight: 600;
    font-size: 24px;
    padding-left: 10px;
    text-align: left;
}

.category_list {
    flex-direction: column;
    min-width: 350px;
}

.grid_header {
    display: flex;
    flex-direction: column;
    min-height: 35px;
    font-size: 20px;
    font-family: "PT Sans Narrow", sans-serif;
    color: white;
    padding-left: 10px;
    margin-bottom: 8px;
    justify-content: space-around;
    /* width: 37%; */
    background-color: #959aad;
}

.product_list {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

@media (min-width: 1000px) {
    .category_list {
        display: flex;
        height: 400px;
    }

    .catalog {
        flex-direction: row;
    }

    .grid_header {
        display: flex;
    }

    .dx-treelist {
        height: 70%;
    }
}

@media (max-width: 999px) {
    .category_list {
        display: none;
    }

    .catalog {
        flex-direction: column;
    }

    .grid_header {
        display: none;
    }

    .currentNode {
        font-size: 16px;
    }

    .wrap_photo {
        justify-content: center;
    }

    .dx-treelist {
        min-height: 100%;
    }
}