.news {
    display: flex;
    flex-direction: column;
}

.news-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hits {
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    flex-grow: 3;
    margin: 3px 3px 0 3px;
}

.news {
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    flex-grow: 0;
    margin: 3px 3px 0 3px;
}

.hit-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 150px;
    margin: 5px 5px 5px 5px;
    border: 1px solid;
}

.news-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    margin: 5px 5px 5px 5px;
    border: 1px solid;
}

.news-header {
    font-size: 22px;
    font-weight: 600;
    margin: 5px 10px 0 10px;
    border: 0 0 1px 0;
    border-bottom-style: groove;
}

.dx-list-item {
    align-items: center;
}

@media (min-width: 1120px) {
    .news-main {
        flex-direction: row;
    }

    .hits {
        width: 70%;
    }

    .news {
        width: 30%;
    }
}

@media (max-width: 1119px) {
    .news-main {
        flex-direction: column;
    }
}