.profile_input {
    width: 250px;
    margin: 10px 10px 0 0;
    flex-grow: 1;
}

.profile_item {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
    width: 100%;
}

.profile_wrap {
    width: 500px;
    /* height: 100vh; */
    background-color: azure;
    padding-bottom: 10px;
}

.profile_row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile_label {
    font-size: 16px;
    /* margin-left: 10px; */
    max-width: 110px;
    min-width: 110px;
    font-weight: 400;
}

.dx-popup-title {
    text-overflow: unset;
    color: aliceblue;
    background-color: rgb(19, 124, 189);
}

.dx-toolbar-label > div  {
    overflow: visible; 
    text-overflow: unset;
} 

.dx-field {
    font-size: 16px;
}

.dx-textbox {
    font-size: 16px;
}