.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: #476070 1px solid;
    /* border-style: solid; */
}

.logo {
    /* margin-left: 70px; */
    flex-grow: 0;
}

.head_tools {
    display: flex;
    flex-grow: 0;
    margin: 15px 15px 15px 0;
}

@media (max-width: 1000px) {
    .sidebar {
        display: block;
        width: 60px;
    }
    .head_tools {
        display: none;
    }
}

@media (min-width: 999px) {
    .sidebar {
        display: none;
    }
    .head_tools {
        display: flex;
    }
}